{
  "presets": ["@babel/env", "@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup", "python"],
        "plugins": ["line-numbers", "file-highlight"],
        "theme": "default",
        "css": true
      }
    ]
  ]
}
