@import ../constants
  
.RepositorySelector
  display: flex
  align-items: center
  margin-bottom: 1rem
  font:
    family: 'PT Sans'

  &-RepositoryName
    font:
      weight: bold
      size: 1.5rem
    margin-right: 1rem

  & .spinner-border
    position: relative
    left: calc(50% - 1rem)


