@import ../constants

.InfoTable
  font:
    family: 'PT Sans'
    size: 14px
  line-height: 21px
  @if $screen-width == 360px
    margin-top: -1px

  &-Header
    @if $screen-width == 1440px
      display: flex
    @else if $screen-width == 360px
      display: none

    padding:
      top: 14px
      bottom: 9px
    border:
      top: 1px solid #E5E5E5
      bottom: 1px solid #E5E5E5
    color: #B8BEC3

  &-Row
    box-sizing: border-box
    @if $screen-width == 1440px
      display: flex
      flex-wrap: nowrap

      padding:
        top: 13px
        bottom: 14px

      border-bottom: 1px solid #F2F2F2
    @else if $screen-width == 360px
      display: flex
      flex-wrap: wrap

      padding:
        top: 9px
        bottom: 13px
        right: 16px

      border-bottom: 1px solid #E5E5E5
      &:first-child
        border-top: 1px solid #E5E5E5
      background:
        image: url(./ArrowRight.svg)
        repeat: no-repeat
        position-x: calc(100% - 3px)
        position-y: center

  &-EntryIcon
    height: 19px
    width: 12px
    vertical-align: middle
    background:
      position: center
      repeat: no-repeat
    margin-right: 9px
    cursor: pointer
    flex-shrink: 0

    &_type_folder
      background-image: url(./FolderIcon.svg)

    &_type_file
      background-image: url(./FileIcon.svg)

  $name-width: 180px
  $commit-width: 180px
  $commiter-width: 160px
  $date-width: 160px

  &-Name
    flex-shrink: 0
    display: flex
    flex-wrap: nowrap
    overflow: hidden
    margin-right: 10px
    box-sizing: border-box

    @if $screen-width == 1440px
      width: $name-width
      margin-left: 8px

      &>.InfoTable-Text
        cursor: pointer
    @else if $screen-width == 360px
      width: 100%
      order: 0

  &-Commit
    flex-shrink: 0

    @if $screen-width == 1440px
      width: $commit-width
    @else if $screen-width == 360px
      margin-top: 8px
      order: 2

  &-Message
    @if $screen-width == 1440px
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap
      flex-grow: 1
      max-width: calc(100% - #{$name-width} - #{$commit-width} - #{$commiter-width} - #{$date-width})
      margin-right: 15px
    @else if $screen-width == 360px
      margin-top: 10px
      width: 100%
      order: 1

  &-Commiter
    flex-shrink: 0
    @if $screen-width == 1440px
      width: $commiter-width
    @else if $screen-width == 360px
      margin:
        top: 8px
        left: 5px
      order: 3

  &-Date
    flex-shrink: 0
    @if $screen-width == 1440px
      margin-right: 8px
      text-align: right
      width: $date-width
    @else if $screen-width == 360px
      margin:
        top: 8px
        left: 5px
      order: 4

  &-Text
    display: inline-block
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden