@import ../constants

.ItemAndBranchContainer
  width: 100%
  display: flex
  padding:
    @if $screen-width == 1440px
      top: 12px
      bottom: 8px
    @else if $screen-width == 360px
      top: 7px
      bottom: 4px

  &-SelectedItem
    margin-right: 12px
